html,
body {
	margin:0;
	padding:0;
	height:100%;
  background-image: url(/src/image/home/back.jpg) top left no-repeat;
  background-size: 100%
}

body {
    position: relative;
 
	height:100%;
	overflow-x: hidden;
	padding-bottom:60px;
   background-image: url(/src/image/home/back.jpg);
       background-repeat: no-repeat;
    background-size: 100%;
}

.content {
	min-height: 100%;
}

body:before {
    background-image: url("http://dev.antiant.com/src/image/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.2;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.background-logo img{
    position: fixed;
    height: 100%;
    opacity: 0.06;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

input[type="submit"] {
    font-family: FontAwesome;
}

.navbar-button {
    float: right !important;
}
.toggler{
	background: #3b90ce;
	position: fixed;
	left: 88px;
	top: -1px;
	z-index: 0.9;
}
.toggler svg{
      color: #ffffff;
}
@media all and (max-width: 375px) {
  .toggler{
  bottom: 182px;
  }
}
.top-nav {
    padding-top: 30px;
}

.home_page_btn img {
    width: 10%;
    display: block;
    float: left
}

.menu_btn a{
    color: black;
    font-family:"Times New Roman",Georgia,Serif;
    font-weight: bold;

}
.menu_btn a:hover{
    background-color: #3b90ce;
}
.menu_btn{
    border-bottom: 4px solid #3b90ce;
    width: 100%
}



.login {
    padding-top: 100px;
}
.login_box{
    background-color: #3b90ce;
    width: 110%;
    padding: 40px 10px 250px;
}



.side-nav a{
    color: #000000;
    font-weight:bold
}
.form-group label{
    font-family:"Times New Roman",Georgia,Serif;
    font-weight: bold;
	font-size: 11px;
    line-height: 1px;
}

.side-nav .submit{
    padding: 10px 30px;
    background-color: #000;

}
.login_btn{
    border-style: none;
    padding: 10px 30px;
    background-color: #000;
	padding: 1px;
    color:#fff;
}


/*.container-fluid{*/
   /*padding: 0 20px !important;*/
/*}*/
.container-fluid {
	padding-right:0;
	padding-left:0;
	margin-right:auto;
	margin-left:auto;
}
.col-12{
	padding-left:0;
	padding-right:0;
	margin-right:auto;
	margin-left:auto;
}
.hidden_ch{
  opacity:0;
}
@media screen and (orientation:landscape) and (max-width: 667px){
.toggler {

    right: 129px;
    bottom: 170px;
}
  }
@media screen and (orientation:landscape) and (max-width: 736px) and (min-width: 668px){
.toggler {
right: 166px;
    bottom: 172px;
}
  }

@media all and (max-width: 1024px){
    .login {
    padding-top: 0;
    }
    .chat-box {
	font: normal normal 11px/1.4 Tahoma, Verdana, Sans-Serif;
		width: 92px;
		/* border: 1px solid #344150; */
		border-bottom: none;
		position: fixed;
		left: 10px;
		left: -1px;
		top: 0;
		z-index: 1;
	}

    .chat-box>input[type="checkbox"] {
      display: block;
      margin: 0 0;
      padding: 0 0;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 26px;
      z-index: 4;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }

    .chat-box>label {
      display: block;
      height: 24px;
      line-height: 24px;
      background-color:#3b90ce;
      color: white;
      font-weight: bold;
      padding: 0 1em 1px;

    }

    .chat-box>label:before {
      content: attr(data-collapsed)
    }

    .chat-box .chat-box-content {
      padding: 10px;
      display: none;
    }
        .chat-box>input[type="checkbox"]:hover+label {
      background-color: #3b90ce
    }

    /* checked state */

    .chat-box>input[type="checkbox"]:checked+label {
      background-color: #3b90ce
    }

    .chat-box>input[type="checkbox"]:checked+label:before {
      content: attr(data-expanded)
    }

    .chat-box>input[type="checkbox"]:checked~.chat-box-content {
      display: block
    }
    .login_box{
            background-color: #3b90ce;
            width: 60%;
    padding: 3px 15px 5px 15px;
        /* float: left; */
        z-index: 1;
        position: fixed;
        left: -3px;
        top: -2px;
        border-radius: 3px;
    }
    .form_group_mob{
        margin:6px 0;
    }
    .form_control_mob{

            padding: 0 0;
    font-size: 1px;
    line-height: 40px;
    }
        .hidden_sidenav {
        ;
        }
        .side-nav a{
        color: #000000;
        font-weight:bold
    }
    .form-group label{
        font-family:"Times New Roman",Georgia,Serif;
        font-weight: bold;

    }

    .side-nav .submit{
        padding: 10px 30px;
        background-color: #000;

    }
    .login_btn{
        border-style: none;
        padding: 10px 30px;
        background-color: #000;

        font-color: #fff;
    }
}



/**********************
 css after 06/8
 *********************/




