/*.collaborator{
	padding: 40px 0px;
	background-color: #fff;
}

.collaborator h2{
	padding: 20px 0px;
}

.collaborator .container-fluid{
	padding: 20px 20px;

}

.collaborator .carousel-inner{
	margin-bottom:90px;
}

.collaborator .carousel-indicators{
}

.collaborator .carousel-indicators li{
	background-color: #d4d4d4;
	padding:20px;
	margin: 0 30px;
	border-radius: 50%
}

.collaborator .carousel-indicators .active{
	background-color: #999999;
}

.collaborator .card{
	display: inline-block;
	width: 25%;
	padding: 20px 0px;
	margin: 0 3%;
}

.collaborator .card:hover{
	transform: scale(1.2);
	border: none;
}

.collaborator img{
	width: 100%;
	height: 3vw;
	object-fit: scale-down;
}
.collaborator_posit_fixed{

    text-align: center;
}
*/
.collaborator .card{
	display: block;
    width: 96%;
    min-height: 122px;
    padding: 19px 6px;
    margin: 0 3%;
}
.card_img{
	height: 77px;
    width: 95%;
}
.collab{
	text-align: center;
}
@media all and (max-width: 600px){
	.collabc{
	display: inherit;
	    text-align: -webkit-center;
}
.col-2{
	width: 100%;
}
}