.contact{
	padding-top: 100px;
	margin: 0 30px;
}

.contact .map {
    width: 100%;
}
.contact .contact_position{
	padding: 90px 0;
}

.contact .wechat {
	background: #28d524;
}

.contact .wechat svg{
	color: #ffffff;
	font-size: 50px;
}

.contact .wechat_qr img{
	width: 20%;
	height: 20%;
}
