/*******************
form
*******************/

.cont {
    width: 80%;
   /* max-width: 1320px;*/
    margin: 0 auto;
    color: #003;
}
.contact_form{
	background-color: #fff;
	padding-top: 2vw;
	padding-bottom: 2vw;
	text-align: center;
}

.contact_form h2{
	padding-bottom: 20px;
}

.wrap-input3 {
	margin-bottom: 2vw;
}
.wrap-input3 ul{
list-style: none; width: 100%;    padding: 0;
}
.wrap-input3 ul li{
	width:33.3%;float:left;padding-right: 10px;display:inline-block;    padding-bottom: 10px;
}
.wrap-input3 ul li:nth-child(3){
padding-right: 0px
}
.input3 {

	display: block;
	width: 100%;
	background: #ffffff;
	font-size: 1vw;
	border: none;
	padding: 30px 25px;
	outline: none;
	font-family: Arial, sans-serif;
	font-weight: 500;
}

input.input3 {
	height: 45px;
	background-color: #dadada;
}
.input3 {
	
	background-color: #dadada;
}



.input3:focus  {
	outline: none !important;
	border:5px solid #c3c2c2;
}

.has-val.input3 + .focus-input3::before {
	width: 50%;
}
.sub_btn{
	text-align:center !important;
	padding: 6px 102px;
    border-radius: 0px;
        background-color: #45a1d5;
}

/*------------------------------------------------------------------
[  ]*/

.contact_form textarea {
	resize: none;
	min-height: 115px;
	padding-top: 13px;
	padding-bottom: 13px;
	    width: 100%;
    display: initial;
}

.contact_form button{
	background-color: #7FB2DF;
	color: #ffffff;
	border-radius: 12px;
	width: 40vw;
}

.contact_form input{
	/*width: 24%;*/
	display: inline-block;
	text-align: left;
}
/*.contact_form input[type=text], .contact_form input[type=number]{
	width: 14%;
}
.contact_form input[type=email]{
	width:30%;
}*/

.contact_form
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.contact_form hr{
	    margin: 71px 7% 0 7%;
}

@media all and (max-width: 425px){
	.wrap-input3 ul{
	padding-right: 20px;
	padding-left: 30px;
}
.wrap-input3 textarea{
margin: 0 11%;
    width: 82%;

}
	.wrap-input3 ul li{
	width:100%;float:left;padding-right: 0px;display:inline-block;    padding-bottom: 10px;
}
.input3 {
   
    padding: 22px 25px;
}
.sub_btn {
    text-align: center !important;
     padding: 6px 12px; 
    border-radius: 0px;
    background-color: #45a1d5;
}
}