.footer ul {
  list-style-type: none;
  line-height: 50px;
  text-align: center;
}

.footer ul li{
	display: inline;
}
.footer p{
	text-align: center;
}
@media all and (max-width: 768px){
	
	.footer_mob {
	padding-top: 110px
}
	.footer ul {
	  padding: 0 0 0 0;
}
}
@media screen and (orientation:landscape) {

    .footer ul li{
	font-size: 14px;
}
  }