/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2018, 11:21:29 PM
    Author     : Stanley Yeung
*/

.home h2{
	font-weight: 800;
	padding: 20px 0px;
	color: #2061AD;
	text-align: center;
	font-size: 3vw;
}
.container {
	padding:0;
}


@media all and (max-width: 1024px) {
	.home {
		display: block;
		text-align: center;
		font-size: 2vm;
		margin-top: 50px;
		background-color: #3b90ce;
	}
	.home input {
		width: 78%;
		display: block;
		text-align: center;
		margin: 0 11%;
	}
	.home label {
		font-size: 25px;
	}
}

@media screen and (orientation:landscape){
	.home {
		/*margin-top: 100px;*/
	}
}




