.path_header{
	padding: 150px 0 10px 100px;
	background-color: #2e8ece;
}

.path_header .container-fluid{
	width: 100%;
}


.path_header h2{
	text-align: left;
	color: #FFFFFF;
	font-weight: 800;
	font-size:30px;
}


.path_header h5,
.path_header a{
	color: #FFFFFF;
}
