.profile{
	padding-top: 100px;
}

.profile .profile-title{
    text-align: center;
    text-decoration: underline;
    padding: 20px 0;
}

@media all and (max-width: 768px){
	.profile .pro_img{
		padding: 0px;
	}	
}
