.sitemap{
	width: 100%;
	padding: 50px;
	background-color: #000000;

}

.sitemap .card{
	display: inline-block;
	width: 33%;
	background-color:#000000;
	text-align: center;
}

.sitemap h4{
	color: #FFFFFF;
	font-size: 20px;
}

.sitemap .wechat{
	background-color:#000000;
	border: none;
}

.sitemap .sitemap-header, .sitemap-content{
	color: #FFFFFF;
	font-size: 13px;
}

.sitemap svg{
	color: #FFFFFF;
	font-size: 4vw;
}

.sitemap .logo, svg{
	width: 100%;
	height: 5vw;
	border-radius: 50%;
	object-fit: scale-down;
}

.sitemap .close-button{
	float: right;
}

.sitemap .close{
	padding-right: 10px;
}
