.title{
	padding-bottom: 550px;
}

.title.container {
	position: relative;
	text-align: center;
	color: #FFFFFF;
	width: 100%;
}

.title .centered {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title img{
	opacity: 0.6;
	position: relative;
	width: 100%;
}
.title .home_v2 form{
	position: absolute;

	left: 25%;
	right: 25%;
	top: 150px;
}

.title .slogan h2{
	font-size: 5.5vw;
}

.title .slogan svg{
	color: red;
}

.title .tracking{
	position: absolute;
	font-size: 3.2vw;
	left: 10%;
	padding-top: 20%;
}

.title button{
	    background-color: #fff9f9ad;
	color: ##000;
	border-radius: 12px;
	width: 40vw;
}
