.main-logo img{
    position: absolute;
    height: 150%;
}
@media all and (max-width: 425px){
    .main-logo img{
    position: absolute;
        width: 103px;
    height: 84px;
    left: -2px;
	}
	.comp_name h1{
		font-size: 20px;
	}
}

@media screen and (orientation:landscape){
    .main-logo img {
    position: absolute;
    height: 131%;
}
    .comp_name h1{
        font-size:  25px;
    }

}

.main-title_w_logo img {
	position: relative;
	width: 100%;
}
