.first_bar{
    background-color: #9ec7e6;
    padding: 0
}
.language{ 
    padding: 9px 20px 0px;
    border-right: 1px solid #00016f;
     }

.language a{
    color: #00016f;
    font-weight:bold
}


@media all and (max-width: 425px){
    .main-logo img{
    position: absolute;
        width: 103px;
    height: 84px;
    left: -2px;
	}
	.comp_name h1{
		font-size: 20px;
	}
}

@media screen and (orientation:landscape){
    .main-logo img {
    position: absolute;
    height: 131%;
}
    .comp_name h1{
        font-size:  25px;
    }

}

