.top_bar{
	
	width:100%;
	background-color: none;
	top: 0;
	z-index:2000;
}
.top_bar nav{
	padding: 0 15px;
}

.top_bar .language a{
	color: #00016f;
	font-weight:bold
}

.top_bar .login,
.top_bar .language{
	padding: 10px 20px 0px;
}

.top_bar .login a{
	color: #00016f;
	font-weight:bold
}

@media all and (max-width: 425px){
	.top_bar .main-logo img{
		position: absolute;
		width: 103px;
		height: 84px;
		left: -2px;
	}
	.top_bar .comp_name h1{
		font-size: 20px;
	}
}

@media screen and (orientation:landscape){
	.top_bar .main-logo img {
		position: absolute;
		height: 131%;
	}
	.top_bar .comp_name h1{
		font-size:  25px;
	}
}

