.top_nav {
	white-space: nowrap;
	position: fixed;
	padding-top: 50px;
	background: #FFFFFF;
	display: inline-block;
	width:100%;
	z-index: 1000;
}

.top_nav .navbar-nav .navbar-center {
	position: absolute;
	left: 100%;
	transform: translatex(-5%);
}


/*****************
menu bar
****************/
.top_nav  .logo a{
	padding-bottom: 0;
}
.top_nav  .logo img{
	width: 30%;
	padding-left: 28px;
	margin:0;
}
.top_nav .menu_v2{
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.top_nav .menu_v2 ul{
	padding-left: 18vw;
}
.top_nav .menu_v2 ul li{
	padding: 2px 2vw 2px;
	font-weight: 700;
}
.top_nav a {
	font-size: 1vw;
}


/****************
Dropdown
****************/

.nav > a.dropdown.open {
	position: relative;
}

.nav > a.dropdown.open .dropdown-menu {
	display: table;
	border-radius: 0px;
	width: 100%;
	text-align: center;
	left: 0;
	right: 0;
}

.dropdown-menu > a {
	display: table-cell;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}
@media screen and (max-width: 415px) {
	.top_nav .logo img {
    width: 42%;
    padding-left: 0
}
}
@media screen and (max-width: 767px) {
	.dropdown-menu > a {
		display: block;
	}
}
@media screen and (max-width: 1024px)
{
	.top_nav {
    padding-top: 0; 
}
}
