.top_bar{
	position: fixed;
	width:100%;
	background-color: #9ec7e6;
	top: 0;
	width: 100%;
	z-index:2000;
}
.top_bar .language{
	padding: 9px 20px 0px;
	border-right: 1px solid #00016f;
}

.top_bar .language a{
	color: #00016f;
	font-weight:bold
}

.top_bar .login{
	padding: 9px 20px 0px;
}

.top_bar .login a{
	color: #00016f;
	font-weight:bold
}

@media all and (max-width: 425px){
	.top_bar .main-logo img{
		position: absolute;
		width: 103px;
		height: 84px;
		left: -2px;
	}
	.top_bar .comp_name h1{
		font-size: 20px;
	}
}

@media screen and (orientation:landscape){
	.top_bar .main-logo img {
		position: absolute;
		height: 131%;
	}
	.top_bar .comp_name h1{
		font-size:  25px;
	}

}

