.tracking-title{
    text-align: center;
}
.bg{
  background-color: #3b90ce; border-radius: 6px;    margin-top: 63px;
}
.bg_left{
  padding: 0 1px 0 30px;
}
.bg_right{
  padding: 0 30px 0 0;
}
.in_out_put label{
	font-family:DFKai-sb;
        font-size: 22px;
    padding: 20px 0 0 0;
}

.input_box input{
    padding: 87px 12px;
    border: none;
}
.sub_btn{
	text-align: center;
    position: relative;
    bottom: 8px;    
}
.sub_btn button{
      background-color: #2d6690;
    color: #fff;
    border: none;
    padding: 5px 41px;
    
}

@media all and (max-width: 425px){
  .in_out_put label{
      display: contents;
    font-size: 11px;
      
}
}

@media all and (max-width: 768px) and (min-width: 426px){

}


@media all and (max-width: 375px){
  .output_box{
        padding-top: 24px;
  }
  .in_out_put label{
      
    font-size: 14px;
      
}

}

@media screen and (orientation:landscape) {

  }